.all {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	
	.topbar {
		height: 50px;
		flex-shrink: 0;
	}
	
	.main {
		flex-grow: 1;
		// height: 100%;
		display: flex;
		
		.sidebar {
			width: 400px;
			flex-shrink: 0;
		}
		
		.center {
			flex-grow: 1;
		}
	}
}
