.topbar_holder {
	display: flex;
	height: 100%;
	
	.logo {
		flex-grow: 1;
		align-items: center;
		display: flex;
	}
	
	.user_management {
		flex-shrink: 0;
		display: flex;
		flex-direction: row-reverse;
		margin-right: 10px;
		
		.user_profile {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
			
			img {
				height: 60%;
				width: auto;
			}
		}
		
		.login_status {
			margin-right: 40px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}
