.topbar_holder {
	
	.logo {
		background-color: #333;
	}
	
	.user_management {
		background-color: #aaa;
		
		.user_profile {
			background-color: #ddd;
		}
		
		.login_status {
			background-color: #222;
		}
	}
}
