include topbar/topbar.pug
include dashboard/jobs-tree.pug
//- include dashboard/jobs/job-view.pug

html
	head
		//- inject:css
		//- endinject
		
		if production
			//- inject:js
			//- endinject
		
		if development 
			script(data-main="/scripts/require-config.js" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.2/require.js")
	body
		div(class="all")
			div(class="topbar")
				+top-bar
			div(class="main")
				div(class="sidebar")
					+jobs-tree
				div(class="center")
					//- +job-view
