mixin top-bar()
	div(class="topbar_holder")
		div(class="logo") Logo
		div(class="user_management")
			div(class="user_profile")
				img(src="/images/user.svg")
			div(class="login_status") David Levanon
			